html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    margin: auto;
    box-sizing: border-box;
}

  .display {
    background-color:#808080;
    box-sizing: border-box;
    height: 100px;
    color: white;
    font-size: 60px;
    padding: 15px 30px;
    font-weight: bold;
  }

  .display h3 {
    margin-top: 4px;
    text-align:right;
  }
  
  .button {
    height: 100px;
    display: inline-flex;
    justify-content: center;
    width: 25%;
    margin: auto;
    font-size: 40px;
    border: 1px solid darkgrey;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
